streamlit==1.52.2  # force reinstall
pandas
numpy
gspread
oauth2client
xlsxwriter
gspread-dataframe
openpyxl
gspread-formatting
plotly
streamlit-aggrid
unidecode
reportlab
pytz
streamlit-autorefresh
xlrd>=2.0.1
xlsxwriter>=3.2.0
PyPDF2
tabula-py
camelot-py[cv]
pytesseract
Pillow
pdfplumber
psycopg2-binary
google-api-python-client>=2.0.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=1.0.0




